<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.intech.vutuantrung.android.busstop">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ChooseBus.BusInfor"/>
        <activity android:name=".ChooseBus.Activity_choose_bus"/>
        <activity android:name=".Favoris.Activity_Favoris" />
        <activity android:name=".Map.Activity_Map" />
        <activity android:name=".Route.Activity_Route" />
        <activity android:name=".Schedule.Activity_Schedule" />
        <activity android:name=".About.Activity_About"/>
        <activity android:name=".ChooseBus.BusStopName"/>
        <activity android:name=".ChooseBus.ChooseDirection"/>
        <activity android:name=".ChooseBus.ChooseTime"/>
        <activity android:name=".ShowBusTime"/>
    </application>

</manifest>